.chapter(data-title='Masked Numbers')
  .step(
    data-title='About This Application',
    data-file='lib/notifier.js')
    :markdown
      ## About This Application

      ![Airtng](//howtodocs.s3.amazonaws.com/airtng-screen.png)

      This [Express](//expressjs.com/) sample application is modeled after the
      amazing rental experience created by [AirBnB](//www.airbnb.com), but with
      more [Klingons](//en.wikipedia.org/wiki/Klingon).

      Host users can offer rental properties which other guest users can
      reserve. The guest and the host can then anonymously communicate via a
      disposable Twilio phone number created just for a reservation. In this
      tutorial, we'll show you the key bits of code to make this work.

      To run this sample app yourself, download the code and follow the
      [instructions on
      GitHub](//github.com/TwilioDevEd/airtng-node/tree/masked-numbers).

      Let's get started! Click the right arrow above to move to the next step
      of the tutorial.

      ---

      **See Also:**

      * [AirTNG App Part One: Workflow Automation](//github.com/TwilioDevEd/airtng-node)
      * [Getting Started with Express](//expressjs.com/en/starter/installing.html)
      * [Mongoose](//mongoosejs.com/)
      * [Passport](//passportjs.org/)
      * [The Twilio Node Helper Library](//twilio.github.io/twilio-node/)
