extends layout

block hero
  .hero-text.full-page
    h1 Lodging fit for a captain
    p The Next Generation of vacation rentals.

    a.btn.btn-transparent.btn-lg(href='/properties') View Properties
