body.property-page footer {
  position: relative;
}

body.property-page #main {
  min-height: 900px;
}

.property {
  display: block;
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding-top: 88px;
  height: 240px;
  text-transform: uppercase;
  overflow: hidden;
  margin-bottom: 20px;
}

.property img {
  vertical-align: middle;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px;
}

.property h2 {
  color: white;
  z-index: 1000;
  position: relative;
}

.property-detail {
  position: absolute;
  top: 0px;
  width: 100%;
}

.property-detail .overview {
  height: 400px;
  overflow: hidden;
}

.property-detail img {
  width: 100%;
}

