extends ../layout

block nav_bg
  nav.navbar.navbar-space

block content
  .container
    h1 Edit Vacation Property
    form(action='/properties/update' method='post')
      input(type='hidden' name='propertyId'  value=property.id)
      .form-group
        label Description
        input.form-control(type='text' name='description' value=property.description)

      .form-group
        label Image URL
        input.form-control(type='text' name='imageUrl' value=property.imageUrl)

      .actions
        button.btn.btn-lg.btn-primary(type='submit') Update Property

    a(href='/properties/' + property.id) Show |
    a(href='/properties') Back

